

<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Register</b>Here</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form [formGroup]="signUp">
        <div class="input-group mb-3">
          <input type="text" formControlName="firstname" class="form-control" placeholder="First Name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-man"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <small *ngIf="signUp.controls['firstname'].dirty && signUp.hasError('required','firstname')" class="text-danger">*First name is required!</small>
        </div>

        <div class="input-group mb-3">
          <input type="text" formControlName="lastname" class="form-control" placeholder="Last Name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-man"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <small *ngIf="signUp.controls['lastname'].dirty && signUp.hasError('required','lastname')" class="text-danger">*Last name is required!</small>
        </div>

        <div class="input-group mb-3">
          <input type="text" formControlName="username" class="form-control" placeholder="User Name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-man"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <small *ngIf="signUp.controls['username'].dirty && signUp.hasError('required','username')" class="text-danger">*User name is required!</small>
        </div>
        <div class="input-group mb-3">
          <input type="email" formControlName="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <small *ngIf="signUp.controls['email'].dirty && signUp.hasError('required','email')" class="text-danger">*Email is required!</small>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <small *ngIf="signUp.controls['password'].dirty && signUp.hasError('required','password')" class="text-danger">*Password is required!</small>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block">Sign Up</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mb-0">
        <a routerLink="/auth/login" class="text-center">Already have account </a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>



<!-- <div class="outer">
  <div class="container">
      <div class="row">
          <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offest-md-3">
              <div class="panel border bg-white">
                  <div class="panel-heading">
                      <h3 class="pt-3 font-weight-bold">
                          Sign Up
                      </h3>
                  </div>
                  <div class="panel-body p-3">
                      <form [formGroup]="signUp">
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUp.controls['firstname'].dirty && signUp.hasError('required','firstname')">
                                  <span class="fa fa-user p-2"></span>
                                  <input type="text" formControlName="firstname" placeholder="first name">
                              </div>
                          </div>
                          <small *ngIf="signUp.controls['firstname'].dirty && signUp.hasError('required','firstname')" class="text-danger">*first name is required!</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUp.controls['lastname'].dirty && signUp.hasError('required','lastname')">
                                  <span class="fa fa-user p-2"></span>
                                  <input type="text" formControlName="lastname" placeholder="last name">
                              </div>
                          </div>
                          <small *ngIf="signUp.controls['lastname'].dirty && signUp.hasError('required','lastname')" class="text-danger">*last name is required!</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUp.controls['username'].dirty && signUp.hasError('required','username')">
                                  <span class="fa fa-user p-2"></span>
                                  <input type="text" formControlName="username" placeholder="user name">
                              </div>
                          </div>
                          <small *ngIf="signUp.controls['username'].dirty && signUp.hasError('required','username')" class="text-danger">*user name is required!</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUp.controls['email'].dirty && signUp.hasError('required','email')">
                                  <span class="fa fa-user p-2"></span>
                                  <input type="text" formControlName="email" placeholder="email">
                              </div>
                          </div>
                          <small *ngIf="signUp.controls['email'].dirty && signUp.hasError('required','email')" class="text-danger">*email is required!</small>
                          <div class="form-group pt-3">
                              <div class="input-field" [class.error]="signUp.controls['password'].dirty && signUp.hasError('required','password')">
                                  <span class="fa fa-lock p-2"></span>
                                  <input [type]="type" formControlName="password" placeholder="password">
                                  <span (click)="hideShowPass()" class="fa {{eyeItem}}"></span>
                              </div>
                          </div>
                          <small *ngIf="signUp.controls['password'].dirty && signUp.hasError('required','password')" class="text-danger">*password is required!</small>
                          <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                          <div class="text-center pt-4 text-muted">Already have account <a id="forget1" routerLink="/login">Login</a></div>
                      </form>
                  </div>
                  <!-- <div class="mx-3 my-2 py-2 bordert">
                      <div class="text-center py-3">

                      </div>
                  </div> -->
