
    <!-- Charts -->
    <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Traffic</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div id="chart1"></div>
        </mat-card-content>
      </mat-card>
    </div>
  <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Weekly Revenue</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div id="chart2"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
